<div class="flex-column post-root">
    <div class="flex-section">{{ s5.content }}</div>
    <div class="post-info-grid">
        <div>fav:{{ s5.good }}</div>
        <div>bad:{{ s5.bad }}</div>
        <div>{{ s5.created_name }}</div>
        <div>{{ s5.f_created_at }}</div>
    </div>
    <form class="flex-row pagename-box" method="post" action="/">
        <input type="text"
               name="action"
               value="content"
               class="pagename-text"
               placeholder="input pagename">
        <button type="submit" name="action" value="extension_to_page">星屑を開く</button>
    </form>
</div>
