<div id="aside-bar" class="aside-bar">
  <button class="aside-opener" data-action="toggle">open</button>
  <button data-action="rocket-small">小型ロケット</button>
  <button data-action="planet-upgrade">惑星UG</button>
  <button data-action="account-upgrade">アカウントUG</button>
  <button data-action="message">メッセージ</button>
  <button data-action="destroy">分解</button>
  <button data-action="post">Post</button>
</div>
<script defer src="/static/js/aside.js"></script>
