{% extends "base.jinja" %}
{% block body %}
  <div class="main-root">
    <header>
      {% include "main_outer/head-bar.jinja" %}
    </header>
    <div class="layout-cutter">
      <main>
        {% include content_template %}
      </main>
      {% comment %} <aside>
        {% include "main_outer/aside-bar.jinja" %}
      </aside> {% endcomment %}
    </div>
    <footer>
      {% include "main_outer/foot-bar.jinja" %}
    </footer>
  </div>
{% endblock body %}
