{% extends "base.jinja" %}
{% block body %}
  {% if dialog %}
    {% include "dialog.jinja" %}
  {% endif %}
  <div class="main-root">
    <header>
      {% include "main_outer/head-bar.jinja" %}
    </header>
    <div class="layout-cutter">
      <main>
        {% include content_template %}
      </main>
      {#
      <aside>
        {% include "main_outer/aside-bar.jinja" %}
      </aside>
      #}
    </div>
    <footer>
      {% include "main_outer/foot-bar.jinja" %}
    </footer>
  </div>
{% endblock body %}
