<div class="planet-layout">
  <div class="planet-grid">
    <div class="surround"></div>
    <div class="surround"></div>
    <div class="surround"></div>

    <div class="surround"></div>
    <div class="here"></div>
    <div class="surround"></div>
  </div>

  <div class="planet-move">
    <button type="submit" name="action" value="left_turn">左を向く</button>
    <button type="submit" name="action" >歩く</button>
    <button type="submit" name="action" value="right_turn">右を向く</button>
  </div>
</div>
