<div class="page-item">
    <div class="page-content">{{ s5.content }}</div>
    <div class="page-info">
        <div class="page-evaluation">
            <div>fav:{{ s5.good }}</div>
            <div>bad:{{ s5.bad }}</div>
        </div>
        <div class="page-created">
            <div>{{ s5.created_name }}</div>
            <div>{{ s5.f_created_at }}</div>
        </div>
    </div>
    <div class="page-children">
        {% for child in s5.children %}
            {% include "parts/post_item.jinja" with node=child %}
        {% endfor %}
    </div>
    {% set value = "post-to-page" %}
    {% include "parts/post_form.jinja" %}
</div>
